﻿@model ExamPro.LeaveType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LeaveType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LeaveTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaveTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeaveTypeDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaveTypeDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoOfLeavesPerYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoOfLeavesPerYear)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LeaveType_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
