﻿@model IEnumerable<ExamPro.LeaveType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LeaveTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeaveTypeDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfLeavesPerYear)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LeaveTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeaveTypeDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfLeavesPerYear)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LeaveType_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.LeaveType_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LeaveType_id })
        </td>
    </tr>
}

</table>
