﻿@model IEnumerable<ExamPro.CityDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.City_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.City_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.City_id })
        </td>
    </tr>
}

</table>
